<div class="container devise">
<div class="devise-frame w-50 mx-auto">
<h2>新しいアカウントを作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="devise-inner">　
　<div class="field">
　  <span class="badge badge-danger">必須</span>
　  <%= f.text_field :user_name, placeholder: "ユーザー名" %>
　</div>
　
  <div class="field">
    <span class="badge badge-danger mr-3">必須</span>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス",class: "mb-4" %>
  </div>

  <div class="field">
    <span class="badge badge-danger mr-3">必須</span>
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "パスワード",class: "mb-4" %><br/>
  </div>

  <div class="field">
    <span class="badge badge-danger mr-3">必須</span>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワード確認",class: "mb-4" %>
  </div>
</div>
  <div class="actions">
    <%= f.submit "新しいアカウントを作成",class: "btn btn-primary  btn-block" %>
  </div>
<% end %>
<%= link_to "すでにアカウントをお持ちの方はログイン", new_user_session_path,class: "btn btn-outline-primary text-blue  btn-block" %>
</div>
</div>
